.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
  transition: 0.3s;
  padding: 12px 0;
  background: #1f2744;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.wrapperBg {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  max-width: 97px;
  width: 100%;
}
.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
}
.navItem {
  color: var(--Base-0);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  cursor: pointer;
  text-transform: capitalize;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
.icon {
  display: none;
}
.socialContainer {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-left: auto;
}
.socialLogo {
  max-width: 26px;
  width: 100%;
}
.socialContainerMobile {
  display: none;
}
.closeIcon {
  display: none;
}
@media only screen and (max-width: 991px) {
  .header {
    justify-content: center;
  }
  .logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .navItems {
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    min-height: 100vh;
    background: linear-gradient(
      180deg,
      #2e3240 0.03%,
      #1e2643 35.43%,
      #232c4b 67.66%,
      #282438 101.47%
    );
    transform: translateX(250%);
    transition: 0.3s;
    position: fixed;
    top: 0px;
    right: 0;
    padding: 24px;
    padding-top: 90px;
    max-width: 320px;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
  }

  .sidebar {
    transform: translateX(0);
    right: 0;
  }
  .buttonContainer {
    align-items: center;
    gap: 15px;
  }
  .button {
    font-size: 14px;
    padding: 10px 15px;
  }
  .icon {
    display: block;
    cursor: pointer;
    color: var(--Base-0);
    font-size: 28px;
    margin-left: auto;
  }

  .socialContainer {
    display: none;
  }
  .socialContainerMobile {
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 12px;
    padding-top: 12px;
  }
  .closeIcon {
    display: block;
    position: fixed;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 520px) {
  .socialLogo {
    max-width: 40px;
  }
}
