.wrapper {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 100px;
  padding: 0;
}
.container {
  padding-top: 40px;

  position: relative;
  z-index: 1;
}

.heading {
  padding-bottom: 10px;
}
.infoContainer {
  max-width: 547px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 5%;
}
.socialContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.logo {
  max-width: 44px;
  width: 100%;
}
@media only screen and (max-width: 520px) {
  .logo {
    max-width: 40px;
  }
  .wrapper {
    position: relative;
    z-index: 1;
  }
}
