.container {
  display: grid;

  gap: 40px;
  align-items: flex-start;
}
.button {
  font-size: 16px;
  background: var(--Primary-Default);
  border-radius: 10px;
  padding: 10px 15px;
  color: var(--Base-0);
  text-align: center;
  min-width: 169px;
  max-width: max-content;
  display: block;
}
.transcript {
  margin: 24px 0;
}
.citations {
  margin-top: 50px;
}
.linkContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  color: var(--link);
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  word-break: break-all;
}

@media only screen and (max-width: 991px) {
  .wrapper {
    padding-top: 100px;
  }

  .container {
    gap: 24px;
  }
  .transcript {
    margin: 12px 0;
  }
  .citations {
    margin-top: 20px;
  }
}
